
@media only screen and (max-width: 600px){
    
   html{
    width: 100%;
    font-size: 0.875rem;
   } 

   body{
    width: 100%;    
    }

    /* nav-section */

    .links-container{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0px;
        right: -1000px;
        z-index: 200;
        width: 200px;
        background-color: black;
        opacity: 1;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);  
        transition: 1s ease-out;
    }

    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 10px 30px;
        justify-content: flex-start;
    }

    .logo{
       justify-content: flex-start;
    }

    .open-sidebar-btn, .close-sidebar-btn{
        display: block;
        padding: 20px;
    }

    #sidebar-active:checked ~ .links-container{
        right: 0;
    }

    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }


/* .header-main{
    top: 0;
    background-color: white;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-family: sans-serif;
    opacity: 0.8;
    z-index: 1000;
    
}

.nav-main{
   diplay: none;
}

.nav-main ul{
    display: flex;
    gap: 4rem;
}

.nav-main ul  li {
    list-style: none;
}

.logo{
  align-items: left;
}

.sign-main{
    height: 100%;
   width:  220px;
   padding: 20px;
   gap: 20px ;
   margin-right: 50px;
}

.log-in{
    color: black;
    background: white;
    padding: 15px;
    border: solid black 0.5px;
    border-radius: 50px;
    margin-right: 20px;
}

.sign-in{
    color: black;
    background: rgb(36, 36, 152); 
    padding: 15px;
    border-radius: 50px;
} */

    /* hero section */

main{
    background-size:750px, cover;
    background-position: center, 0px;
}

.main-intro{
    padding: 1px;
    margin:0px auto; 
    margin-top: 300px;
}


.main-intro h1{
    font-size: 50px;
    font-weight: 900;
    line-height: 60px;
}

.main-intro p{
    margin-top: 5px;
}

/* home section  */

.home-container h2{
    font-size: 25px;
    margin-bottom: 20px;
}

.home-card-container{
   display: flex;
   flex-direction: column;
}

.home-card img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

/* category section  */

.content h2{
    font-size: 50px;
    font-weight: 900;
}

.content p{
    font-size: 30px;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
}

.about-category{
    flex-direction: column;
    row-gap: 20px;
}

.category-card h3{
   font-size: 30px;
   font-weight: 900;
   border-radius: 50px;
   padding:5px 50px;
}

/* about section  */

.about-section{
    margin-top: 1rem;
}

.about-container h1{
    font-size: 3rem;
    font-weight: 500;
    word-spacing: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.about-content{
    padding:0px;
    display: flex;
    flex-direction: column;
}

.about-img img{
    margin-top: 40px;
    height: 500px;
    width: 300px;
    border-radius: 50px;
}

/* testimonial section  */

.testimonial-section{
    margin-top: 2px;
    padding:50px;
}

.testimonial-container h2{
    margin-bottom: 20px;
}

.testimonial-content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

/* footer section  */

.footer-content{
    width: 100%;
    margin: 0px auto;
    align-items: center;
    justify-content: center;   
    
}

.footer-link{
    font-size: 10px;
    margin-bottom: 30px;
    padding: 0px 40px;
    border: solid white 2px;
}

.footer-site-map{
    flex-wrap: wrap;
}

.footer-site-map ul:nth-child(1),
.footer-site-map ul:nth-child(2),
.footer-site-map ul:nth-child(3){
    flex-basis: 100%; 
    text-align: center;
    padding-bottom: 20px;
}

.footer-site-map ul:nth-child(3) li,a{
    text-align: center;
    margin-top: 10px;
}

 }   